/*
* @Author: SongShuhang
* @Date:   2020-06-21 14:49:54
* @Last Modified by:   SongShuhang
* @Last Modified time: 2020-06-21 16:16:12
*/
.cate-select{
    width: 200px;
    margin-right: 15px;
    display: inline-block;
}