/*
* @Author: SongShuhang
* @Date:   2020-06-22 14:34:49
* @Last Modified by:   SongShuhang
* @Last Modified time: 2020-06-22 15:55:49
*/
.btn-send-goods{
    margin-left: 10px;
}

.p-img{
    display: block;
    width: 80px;
    height: 80px;
}
